@import url("https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

.zalando-sans {
    font-family: "Zalando Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* Hero */
@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.heroButton:hover {
    animation: rotate360 0.4s ease-in-out;
}

@keyframes wordSink {
    0% {
        transform: translateX(-25%);
        opacity: 0;
    }
    6% {
        transform: translateX(0);
        opacity: 1;
    }
    26% {
        transform: translateX(0);
        opacity: 1;
    }
    33% {
        transform: translateX(25%);
        opacity: 0;
    }

    100% {
        transform: translateX(25%);
        opacity: 0;
    }
}

.heroCaption {
    animation: wordSink 15s infinite ease-in-out;
    display: block;
    opacity: 0;
}

.heroCaption:nth-child(1) {
    animation-delay: 0s;
}

.heroCaption:nth-child(2) {
    animation-delay: 5s;
}
.heroCaption:nth-child(3) {
    animation-delay: 10s;
}

